<div class="mat-elevation-z8 mt-2">
  <div class="col-12 d-flex align-items-center justify-content-end p-3">
    <button mat-raised-button color="primary" (click)="downloadExcell()">
      Downlaod Excell
    </button>

    <input type="file" (change)="onFileSelected($event)" />
  </div>

  <table mat-table [dataSource]="dataSource" class="w-100" >
    <!-- {{dataSource}} -->
    <!-- *ngIf="dataSource?.length" -->
    <!-- {{
      dataSource
    }} -->
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->

    <!-- <ng-container *ngFor="let employee of dataSource"> -->
      <!-- <ng-container matColumnDef={{employee.first_name}}>
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container> -->

      <!-- <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row[column.columnDef] }}</mat-cell>
      </ng-container> -->
    <!-- </ng-container> -->



    <!-- Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="company_name">
      <th mat-header-cell *matHeaderCellDef> Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
    <ng-container matColumnDef="county">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.county}} </td>
    </ng-container>
    <ng-container matColumnDef="postal">
      <th mat-header-cell *matHeaderCellDef> Postal Code </th>
      <td mat-cell *matCellDef="let element"> {{element.postal}} </td>
    </ng-container>
    <ng-container matColumnDef="phone1">
      <th mat-header-cell *matHeaderCellDef>  Primary Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone1}} </td>
    </ng-container>
    <ng-container matColumnDef="phone2">
      <th mat-header-cell *matHeaderCellDef> Secoundary Phone  </th>
      <td mat-cell *matCellDef="let element"> {{element.phone2}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="web">
      <th mat-header-cell *matHeaderCellDef> Web </th>
      <td mat-cell *matCellDef="let element"> {{element.web}} </td>
    </ng-container>

    <ng-container matColumnDef="action" sticky>
      <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
          <button mat-mini-fab color="primary" ><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="primary" ><mat-icon>pageview</mat-icon></button>
        </td>
        <!-- routerLink="/base/viewUserDetails/{{element.userid}}" -->
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>

  <!-- <mat-paginator [length]="resultsLength"  [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of GitHub search results"></mat-paginator> -->
</div>
