<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <div class="col-12">
    <mat-toolbar color="primary" class="example-toolbar">
      <div class="d-flex col-12">
        <div class="d-flex col-6 align-items-center justify-content-start">
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <h1 class="example-app-name"  (click)="navigate('')">Dashboard</h1>
        </div>
        <div class="d-flex col-6 align-items-center justify-content-end">
          <mat-card class="centres-card image-card">
            <mat-card-header fxLayout fxLayoutAlign="start center">
              <mat-card-title class="card-title-style mb-0" >
              <span *ngIf="employeeProfile$ | async as employee">{{employee.first_name }} {{employee.last_name}}</span>  
              </mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <app-sidenavbar></app-sidenavbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
